# Ignore Python bytecode files
*.pyc

# Ignore virtual environment directories
venv/
env/
env2/
env3/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files
data/

# Ignore log files
logs/

# Ignore compiled binary files
*.o
*.out

# Ignore macOS system files
.DS_Store

# Ignore IDE-specific files
.vscode/
.idea/