/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  } */
  
  body {
    background: var(--color-bg);
  }
  
  a {
    color: unset;
    text-decoration: none;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .navbar{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .elements{
    margin-left: 15%;
  }
